:root {
  --white: hsl(0, 0%, 100%);
  --lightpink: hsl(275, 100%, 97%);
  --grayishpurple: hsl(292, 16%, 49%);
  --darkpurple: hsl(292, 42%, 14%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(./src/assets/images/background-pattern-mobile.svg);
  background-color: var(--lightpink);
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
}

main {
  width: 290px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
